<!--<ion-header>
  <ion-navbar color="primary" style="background-color: #fff !important">
    <ion-title style="color: #000 !important; text-align: right; font-size: 1.5rem">
		<span style="color: #000 !important; text-align: right; font-size: 1.5rem">Book A Flight 1/2</span>
	</ion-title>
  </ion-navbar>
</ion-header>-->
<ion-header>
  <ion-navbar color="primary" style="background-image: url(assets/imgs/header_bg.jpg) !important; background-repeat: no-repeat !important;">
    <ion-title style="color: #fff !important; text-align: right; font-size: 1.5rem">
		<span style="color: #fff !important; text-align: right; font-size: 1.5rem">Book A Flight 1/2</span>
	</ion-title>
	<ion-buttons start> <button style="background-color: transparent !important"> <img src="assets/imgs/icon_user.png" style="height: 32px !important; background-color: transparent !important"> </button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="">
    <form [formGroup]="bookFlightForm">
		<ion-item padding-right>
			<strong style="font-size: 2rem !important">Book A Flight</strong><br>
			<span style="white-space: normal">Purchase flight tickets from the comfort of your phone.</span>
		</ion-item>
		<!--<div class="errormsg">
        <div *ngIf="username.errors && username.touched">
          <p>Username is required.</p>
        </div>
		
		</div>-->
		<ion-list>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000">Select Airline:</ion-label>
			  <ion-select [(ngModel)]="bookFlightData.airline" [formControl]="airline" id="airline" placeholder="--Select One--">
					<ion-option *ngFor="let airline_ of airlinelist" value="{{airline_.id}}">{{airline_.train_name}}</ion-option>
			  </ion-select>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
				<ion-label style="padding-left: 15px !important; color: #000">Trip Type:</ion-label>
				<ion-select [(ngModel)]="bookFlightData.tripType" placeholder="--Select One--" [formControl]="tripType" id="tripType">
					<ion-option value="one-way">One-Way</ion-option>
					<ion-option value="return">Return</ion-option>
				</ion-select>
			</ion-item>
				
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000">From:</ion-label>
			  <ion-select [(ngModel)]="bookFlightData.source" [formControl]="source" id="source" (ionChange)="onSourceChange($event)" placeholder="--Select One--">
					<ion-option *ngFor="let source_ of sourcelist" value="{{source_.name}}">{{source_.name}}</ion-option>
			  </ion-select>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000">To:</ion-label>
			  <ion-select [(ngModel)]="bookFlightData.destination" [formControl]="destination" id="destination">
					<ion-option *ngFor="let destination_ of destinationlist" value="{{destination_.name}}">{{destination_.name}}</ion-option>
			  </ion-select>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 15px !Important; border-bottom: 3px #fff solid !important;">
			  <!--<ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.trip_date" [formControl]="trip_date" id="trip_date" type="number" required></ion-input>-->
			  <ion-datetime displayFormat="MMM/DD/YY" [(ngModel)]="bookFlightData.trip_date" [formControl]="trip_date" id="trip_date" required placeholder="Trip Start Date"></ion-datetime>
			</ion-item>
			<ion-item padding-right *ngIf="bookFlightData.tripType=='return'" style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 15px !Important; border-bottom: 3px #fff solid !important;">
			  <!--<ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.return_date" [formControl]="return_date" id="return_date" type="number" required placeholder="Trip Return Date"></ion-input>-->
			  <ion-datetime displayFormat="MMM/DD/YY" [(ngModel)]="bookFlightData.return_date" [formControl]="return_date" id="return_date" required placeholder="Trip Return Date"></ion-datetime>
			</ion-item>
			<!--<div ion-col col-6 style="float: left !important">-->
				<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 15px !Important; padding-right: 0px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
					<ion-label style="padding-left: 15px !important; color: #000">Passengers</ion-label>
					<ion-input [(ngModel)]="bookFlightData.adults" [formControl]="adults" id="adults" type="number" required placeholder="Adults" item-end float-right></ion-input>
				<!--</ion-item>
			</div>
				
			<div ion-col col-5 style="float: right !important">
				<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
					<ion-label style="padding-left: 15px !important; color: #000">Child</ion-label>-->
					<ion-input [(ngModel)]="bookFlightData.child" [formControl]="child" id="child" style="align-self: flex-end;" type="number" required placeholder="Child" item-end float-right></ion-input>
				</ion-item>
			<!--</div>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.first_name" [formControl]="first_name" id="first_name" type="number" required placeholder="Lead Passenger First Name"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.last_name" [formControl]="last_name" id="last_name" type="number" required placeholder="Lead Passenger Surname"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.other_name" [formControl]="other_name" id="other_name" type="number" required placeholder="Lead Passenger Other Name"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.national_id_number" [formControl]="national_id_number" id="national_id_number" type="number" required placeholder="Lead Passenger Natl Id Number"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.mobile_number" [formControl]="mobile_number" id="mobile_number" type="number" required placeholder="Lead Passenger Mobile Number"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.email_address" [formControl]="email_address" id="email_address" type="number" required placeholder="Lead Passenger Email Address"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"><ion-icon name="keypad"></ion-icon></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.narration" [formControl]="narration" id="narration" type="number" required placeholder="Narration"></ion-input>
			</ion-item>
			<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			  <ion-label style="padding-left: 15px !important; color: #000"><ion-icon name="keypad"></ion-icon></ion-label>
			  <ion-input [(ngModel)]="bookFlightData.pin" [formControl]="pin" id="pin" type="number" required placeholder="Enter Your 4-digit Pin"></ion-input>
			</ion-item>-->

		</ion-list>
    </form>
</ion-content>


<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button ion-button full color="secondary" large (click)="searchFlights(bookFlightData)">Find Flights</button>
	</ion-toolbar>
</ion-footer>
