<ion-header>
  <ion-navbar color="primary" style="background-image: url(assets/imgs/header_bg.jpg) !important; background-repeat: no-repeat !important;">
	
    <button ion-button menuToggle><ion-icon name="menu" style="color:#fff !important"></ion-icon></button>
	<ion-title style="color: #fff !important;">
		<span style="color: #fff !important; text-align: right; font-size: 1.5rem">Buy Internet Data</span>
	</ion-title>
	<ion-buttons start> <button style="background-color: transparent !important"> <img src="assets/imgs/icon_user.png" style="height: 32px !important; background-color: transparent !important"> </button> </ion-buttons>
	<!--<ion-buttons end> <button (click)="logout()" style="background-color: #EC2E24 !important"> <ion-icon name="lock" style="color:#fff !important"></ion-icon> </button> </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content class="">
    <form [formGroup]="internetDataForm">
		<ion-item padding-right>
			<strong style="font-size: 2rem !important">Internet Data</strong><br>
			<span style="white-space: normal">Buy great internet data plans from a wide range of providers</span>
		</ion-item>
      <!--<div class="errormsg">
        <div *ngIf="username.errors && username.touched">
          <p>Username is required.</p>
        </div>
		
      </div>-->
      <ion-list>
        <ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 15px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
          <ion-label>Internet Provider</ion-label>
          <ion-select [(ngModel)]="internetData.internet_provider" [formControl]="internet_provider" id="internet_provider" (ionChange)="onNetworkChange($event)">
				<ion-option *ngFor="let telco of telcolist" value="{{telco.name}}">{{telco.name}}</ion-option>
		  </ion-select>
        </ion-item>
        <ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 15px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
          <ion-label>Subscription Data</ion-label>
          <ion-select [(ngModel)]="internetData.subscription_data" [formControl]="subscription_data" id="subscription_data">
				<ion-option *ngFor="let subscription_type of subscription_typelist" value="{{subscription_type.id}}">{{subscription_type.name}} - K{{subscription_type.amount}}</ion-option>
		  </ion-select>
        </ion-item>
        <ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
         
          <ion-input [(ngModel)]="internetData.mobile_number" [formControl]="mobile_number" id="mobile_number" type="text" required placeholder="Device Number"></ion-input>
        </ion-item>
		<ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			<ion-label style="padding-left: 15px !important; color: #000">Your Pin:</ion-label>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="internetData.pin1" formControlName="pin1" id="pin1" type="tel" required placeholder="" maxLength="1"></ion-input>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="internetData.pin2" formControlName="pin2" id="pin2" type="tel" required placeholder="" maxLength="1"></ion-input>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="internetData.pin3" formControlName="pin3" id="pin3" type="tel" required placeholder="" maxLength="1"></ion-input>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="internetData.pin4" formControlName="pin4" id="pin4" type="tel" required placeholder="" maxLength="1"></ion-input>
		</ion-item>

      </ion-list>
    </form>
</ion-content>


<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button ion-button full color="secondary" large (click)="doBuyInternetData(internetData)">Buy Data</button>
	</ion-toolbar>
</ion-footer>