page-intro {
	.ormont_light{
		font-family: Ormont_Light !important
	}
	
	.androgyne_TB{
		font-family: Androgyne_TB !important
	}
	
	.diavlo_black_37{
		font-family: Diavlo_BLACK_II_37 !important
	}
	
	.swiper-pagination {
		margin-bottom: 30px !important;
		display:none !important;
	}
	
	.swiper-pagination-bullet {
		width: 16px !important;
		height: 16px !important;
		background: #fff !important;
		opacity: 1 !important;
		display:none !important;
	}
	
	.swiper-pagination-bullet-active{
		width: 16px !important;
		height: 16px !important;
		background: #ff6600 !important;
		opacity: 1 !important;
		display:none !important;
	}
	
	.button-md{
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}
}
