<ion-header>
  <ion-navbar color="primary" style="background-image: url(assets/imgs/header_bg.jpg) !important; background-repeat: no-repeat !important;">
	
    <button ion-button menuToggle><ion-icon name="menu" style="color:#fff !important"></ion-icon></button>
	<ion-title style="color: #fff !important;">
		<span style="color: #fff !important; text-align: right; font-size: 1.5rem">Pay Utility Bill</span>
	</ion-title>
	<ion-buttons start> <button style="background-color: transparent !important"> <img src="assets/imgs/icon_user.png" style="height: 32px !important; background-color: transparent !important"> </button> </ion-buttons>
	<!--<ion-buttons end> <button (click)="logout()" style="background-color: #EC2E24 !important"> <ion-icon name="lock" style="color:#fff !important"></ion-icon> </button> </ion-buttons>-->
  </ion-navbar>
</ion-header>


<ion-content class="">
    <form [formGroup]="payUtilityDataForm">
		<ion-item padding-right>
			<strong style="font-size: 2rem !important">Pay Utility Bills</strong><br>
			<span style="white-space: normal">Pay your post-paid utility bills by providing your devices identification number. For LWSC and ZESCO, your identification numbers are your meter numbers.</span>
		</ion-item>
      <!--<div class="errormsg">
        <div *ngIf="username.errors && username.touched">
          <p>Username is required.</p>
        </div>
		
      </div>-->
      <ion-list>
        <ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
          <ion-label style="padding-left: 15px !important; color: #000">Utility Provider</ion-label>
          <ion-select [(ngModel)]="payUtilityData.bill_provider" [formControl]="bill_provider" id="bill_provider"  (ionChange)="getUtilityProviderByProviderId($event)">
				<ion-option *ngFor="let utilityprovider of utilityproviderlist" value="{{utilityprovider.id}}">{{utilityprovider.name}}</ion-option>
		  </ion-select>
        </ion-item>
        <ion-item padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			<ion-input [(ngModel)]="payUtilityData.provider_id_number" [formControl]="provider_id_number" id="provider_id_number" type="text" required placeholder="Meter Number"></ion-input>
			<button *ngIf="selectedUtilityProvider!=undefined && selectedUtilityProvider.isPostPaid==true" style="align-self: flex-end; box-shadow: none !important; -webkit-box-shadow: none !important; font-size: 0.9em !important" ion-button small color="secondary" small (click)="verifyUtilityProvider(payUtilityData.provider_id_number)" item-end ><ion-icon name="checkmark" *ngIf="(isVerified==true)"></ion-icon> Verify</button>
        </ion-item>
		<ion-item *ngIf="isVerified && customerName!=undefined" padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			<ion-label style="padding-left: 15px !important; color: #000">Registered To:</ion-label>
			<ion-label style="padding-left: 15px !important; color: #000" text-right>{{customerName}}</ion-label>
        </ion-item>
        <ion-item *ngIf="isVerified && billerNumber!=undefined" padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			<ion-label style="padding-left: 15px !important; color: #000">Biller Number:</ion-label>
			<ion-label style="padding-left: 15px !important; color: #000" text-right>{{billerNumber}}</ion-label>
        </ion-item>
        <ion-item *ngIf="isVerified && amountOwed!=undefined" padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			<ion-label style="padding-left: 15px !important; color: #000">Amount To Pay:</ion-label>
			<ion-label style="padding-left: 15px !important; color: #000" text-right>K{{amountOwed}}</ion-label>
        </ion-item>
        <ion-item padding-right *ngIf="(selectedUtilityProvider!=undefined && selectedUtilityProvider.isPostPaid==true && isVerified==true) || (selectedUtilityProvider!=undefined && selectedUtilityProvider.isPostPaid==false)" style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
          <ion-input [(ngModel)]="payUtilityData.amount" [formControl]="amount" id="amount" type="tel" required placeholder="Amount"></ion-input>
        </ion-item>
		<ion-item *ngIf="(selectedUtilityProvider!=undefined && selectedUtilityProvider.isPostPaid==true && isVerified==true) || (selectedUtilityProvider!=undefined && selectedUtilityProvider.isPostPaid==false)" padding-right style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 10px !Important; padding-top: 0px !Important; padding-bottom: 0px !Important; border-bottom: 3px #fff solid !important;">
			<ion-label style="padding-left: 15px !important; color: #000">Your Pin:</ion-label>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="payUtilityData.pin1" formControlName="pin1" id="pin1" type="tel" required placeholder="" maxLength="1"></ion-input>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="payUtilityData.pin2" formControlName="pin2" id="pin2" type="tel" required placeholder="" maxLength="1"></ion-input>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="payUtilityData.pin3" formControlName="pin3" id="pin3" type="tel" required placeholder="" maxLength="1"></ion-input>
			<ion-input style="background-color: #E2F5D6 !important; font-size: 1.8rem !important; padding: 1px !Important" [(ngModel)]="payUtilityData.pin4" formControlName="pin4" id="pin4" type="tel" required placeholder="" maxLength="1"></ion-input>
		</ion-item>

      </ion-list>
    </form>
</ion-content>


<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button ion-button full color="secondary" large (click)="doPayUtility(payUtilityData)">Pay Utility Bill</button>
	</ion-toolbar>
</ion-footer>
