<ion-header>
  <ion-navbar color="primary" style="background-color: #EC2E24 !important">
	<button ion-button menuToggle><ion-icon name="menu" style="color:#fff !important"></ion-icon></button>
    <ion-title style="color: #fff !important;">Request New Card</ion-title>
	<ion-buttons end> <button (click)="logout()" style="background-color: #EC2E24 !important"> <ion-icon name="lock" style="color:#fff !important"></ion-icon> </button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-img">
  <div class="main-content">

    <div padding  style="width: 100%;">
    <form [formGroup]="requestCardForm">
		<!--<div class="errormsg">
			<div *ngIf="username.errors && username.touched"><p>Username is required.</p></div>
		</div>-->
		<ion-list>
			<ion-item padding-right>
			  <ion-label><ion-icon name="locate"></ion-icon> Account</ion-label>
			  <ion-select [(ngModel)]="requestCardData.account" [formControl]="account" id="account">
				<ion-option *ngFor="let account_ of accountlist" value="{{account_.id}}">{{account_.account_number}}</ion-option>
			  </ion-select>
			</ion-item><div style="font-size:20px !important;">&nbsp;</div>
			<ion-item padding-right>
			  <ion-label><ion-icon name="contact"></ion-icon>Card Type</ion-label>
			  <ion-select [(ngModel)]="requestCardData.card_type" [formControl]="card_type" id="card_type">
					<ion-option value="Debit Card">Debit Card</ion-option>
					<ion-option value="Visa">Visa Card</ion-option>
					<ion-option value="Mastercard">Mastercard</ion-option>
			  </ion-select>
			</ion-item><div style="font-size:20px !important;">&nbsp;</div>
			<ion-item padding-right>
			  <ion-label><ion-icon name="contact"></ion-icon>Collection Point</ion-label>
			  <ion-select [(ngModel)]="requestCardData.collection_point" [formControl]="collection_point" id="collection_point">
					<ion-option *ngFor="let agent of agentlist" value="{{agent.id}}">{{agent.address}}</ion-option>
			  </ion-select>
			</ion-item><div style="font-size:20px !important;">&nbsp;</div>
			<ion-item padding-right>
			  <ion-label><ion-icon name="keypad"></ion-icon></ion-label>
			  <ion-input [(ngModel)]="requestCardData.narration" [formControl]="narration" id="narration" type="text" required placeholder="Narration"></ion-input>
			</ion-item><div style="font-size:20px !important;">&nbsp;</div>
			<ion-item padding-right>
			  <ion-label><ion-icon name="keypad"></ion-icon></ion-label>
			  <ion-input [(ngModel)]="requestCardData.pin" [formControl]="pin" id="pin" type="number" required placeholder="Enter Your 4-digit Pin"></ion-input>
			</ion-item><div style="font-size:20px !important;">&nbsp;</div>
		</ion-list>
      <button full color="secondary" (click)="doRequestCard(requestCardData)" ion-button round style="font-size:1.7rem !important; background-color: #00CC66 !important;" strong>Send Request</button>
    </form>
  </div>
  </div>
</ion-content>
